body {
    color: white;
    font-family: Arial, sans-serif;
    background-color: #5c0b5f; /* Fondo más oscuro */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 20px; /* Espaciado alrededor */
}

.container {
    background: #4f0951; /* Violeta oscuro */
    padding: 30px; /* Aumentar el padding para más espacio interno */
    border-radius: 10px; /* Bordes más redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 400px; /* Ancho máximo */
    width: 100%; /* Ancho responsivo */
}

.logo {
    display: block;
    margin: 0 auto 20px;
    max-width: 80%; /* Ajustar el tamaño de la imagen */
    height: auto; /* Mantener la proporción */
}

label {
    display: block;
    margin: 10px 0 5px; /* Menor margen superior */
    color: #ffffff;
    font-size: 16px; /* Tamaño de fuente más pequeño */
}

input {
    border-radius: 4px;
    width: 100%;
    padding: 8px; /* Menos padding para inputs */
    margin-bottom: 15px; /* Mayor margen inferior */
    border: 1px solid #ddd;
    font-size: 14px; /* Tamaño de fuente más pequeño */
}

button {
    background: #5d1658;
    color: #ffffff;
    border: none;
    padding: 12px; /* Menos padding para el botón */
    border-radius: 100px;
    cursor: pointer;
    width: 100%; /* Ancho completo */
    font-size: 18px; /* Tamaño de fuente más pequeño */
}

button:hover {
    background: #b53998;
}
