body {
    color: white;
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: #4f0951;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-size: 35px;
    padding: 100px;
}

.container {
    background: #4f0951;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

h1 {
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
}

input, textarea {
    border-radius: 100px;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background: #5d1658;
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    border-radius: 100px;
    cursor: pointer;
    width: 400px;
    height: 70px;
    font-size: 30px;
    font-style: italic;
}

button:hover {
    background: #b53998;
}

